.header {
    background: url("https://i.imgur.com/BrtVHqy.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border: 1px solid grey;
}


ul {
    list-style: none;
}

.flower-image {
    width: 160px;
    height: 220px;
}