.header {
    background: url("https://i.imgur.com/BrtVHqy.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border: 1px solid grey;
}


ul {
    list-style: none;
}

.flower-image {
    width: 220px;
    height: 240px;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-logo {
    height: 50px;
    width: 50px;
}

.nav {
    grid-column: 1 / 4;
    background-color: rgb(145,178,185);
}

.header {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
}

.card-container {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

.card {
    border: solid 1px grey;
    padding: 10px;
    margin: 10px;
}


.nav {
    padding: 20px 0 0 69px;
    text-align: center;
}

.nav-item {
    display: inline;
    padding: 14px 16px;
    color: white;
    font-weight: bolder;
}
.nav-item:hover {
    color:black;
}